<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
       
        <title>landing page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
         crossorigin="anonymous">
         <link rel="stylesheet" th:href="@{/landing-style.css}">


    </head>
    <body>
      
        <nav class="navbar navbar-ligh  ">
            <a class="navbar-brand text-light">INK-Pharma</a>
            <form class="form-inline">
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm mr-3" data-toggle="modal" data-target="#Backdrop">
    Login
  </button>
  
 
              <!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#staticBackdrop">
    Signup
  </button>
  

             
            </form>
          </nav>
           <!-- Modal for login -->
           <form method="post" th:action="@{/loginUser}" >
  <div class="modal fade mt-5" id="Backdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="staticBackdropLabel">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <input type="text" name="name" class="form-control mb-3" placeholder="user name">
          <input type="password" name="password" class="form-control mb-3" placeholder="password">
          <input type="submit" class="btn btn-primary btn-block" value="Login">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Close</button>
          <a  th:href="@{/}" class="btn btn-primary btn-lg">Register</a>
          
        </div>
      </div>
    </div>
  </div>
</form>
    <!-- Modal register -->
    <form method="post" th:action="@{/saveSignup}">
      <div class="modal fade mt-5" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">User Signup</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="hidden" name="Uid"  >
              <label for="">user name:</label>
                <input type="text" name="name" class="form-control mb-3" placeholder="user name">
                <label for="">National ID:</label>
                <input type="text" name="id_card" class="form-control mb-3" placeholder="ID">
                <label for="">Email:</label>
                <input type="text" name="email" class="form-control mb-3" placeholder="email">
                <label for="">Phone:</label>
                <input type="text" name="phone" class="form-control mb-3" placeholder="Phone number">
                <label for="">Password:</label>
                <input type="password" name="password" class="form-control mb-3" placeholder="password">
                <input type="submit" class="btn btn-primary btn-block" value="signup">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a  th:href="@{/}" class="btn btn-primary">Login</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    
          <h2 class="offset-4 mt-5">Welcome to INK-Pharma</h2>

          <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
           crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" 
crossorigin="anonymous"></script>
    </body>
</html>